<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.withdayback.notification.dao.NotificationDao">
    <select id="getNotificationsById"
            parameterType="long"
            resultType="Notification">
        SELECT
            id,
            receiver_id AS receiverId,
            target_url AS targetUrl,
            type,
            title,
            message,
            is_read AS isRead,
            created_at AS createdAt
        FROM notification
        WHERE receiver_id = #{id}
        ORDER BY created_at DESC
    </select>

    <insert id="insertNotification" parameterType="Notification">
        INSERT INTO notification (
            receiver_id,
            target_url,
            type,
            title,
            message,
            is_read,
            created_at
        )
        VALUES (
                   #{receiverId},
                   #{targetUrl},
                   #{type},
                   #{title},
                   #{message},
                   #{isRead},
                   NOW()
               )
    </insert>

    <update id="readNotification">
        UPDATE notification
        SET is_read = 1
        WHERE id = #{notificationId}
    </update>
</mapper>